services:
  # Main Application
  databasus-checker:
    tty: true
    stdin_open: true
    container_name: databasus-checker
    image: golang:1.25-alpine
    ports:
      - "4006:4006"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/databasus/databasus-data/backups:/backups
      - ./:/app
    environment:
      - APP_PORT=4006
      - DB_HOST=host.docker.internal
      - DB_PORT=5432
      - DB_USER=myuser
      - DB_PASSWORD=mypass
      - DB_NAME=databasuschecker
      - BACKUP_PATH=/backups
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
